@media screen and (min-width: 200px) {
    /* for screens from 1000px*/
    body {
        background-color: #c7bd3c;
    }

    h1 {
        text-align: center;
    }

    .fon {
        background-image: url("../images/bg.jpg");
        background-repeat: no-repeat;
        height: 698px;
        width: 960px;
    }

    .joins {
        background-color: #34b0b3;
        padding: 20px;
        left: 366px;
        position: relative;
        margin-left: -369px;
    }
}

