@media screen and (max-width: 499px) { /* for screens from 1000px*/
    body {
        background-color: #2ec773;
    }

    h1{
        text-align: center;
    }

    .fon {
        background-image: url("../images/bg.jpg");
        background-repeat: no-repeat;
        height: 698px;
        width: 960px;
    }

    .joins {
        background-color: #34b0b3;
        padding: 20px;
        left: 366px;
        position: relative;
        margin-left: -369px;
    }

    .main {
        display: flex;
    }
    .inputs input, #Rd, #Ld {
        width: 25px;
    }
    h2{
        text-align: center;
        color: greenyellow;
    }
    .oval{
        border-radius: 5px;
        background-color: #e5eb34;
        padding: 4px;
        width: 38px;
        margin: 15px;
        text-align: center;
    }
    #btn-main {
        position: relative;
        left: 950px;
        top: 46px;
    }
    #btn-kettle {
        position: absolute;
        left: 833px;
        top: 580px;
    }
    #btn-chandelier {
        position: absolute;
        left: 677px;
        top: 568px;
    }
    #btn-garland {
        position: absolute;
        left: 872px;
        top: 240px;
    }
    #btn-bell {
        position: absolute;
        left: 477px;
        top: 294px;
    }
    #btn-tv {
        position: absolute;
        left: 221px;
        top: 293px;
    }
    #btn-recordplayer {
        position: absolute;
        left: 378px;
        top: 491px;
    }
    #btn-chandelier2 {
        position: absolute;
        left: 677px;
        top: 292px;
    }
    #btn-vacuumcleaner {
        position: absolute;
        left: 257px;
        top: 583px;
    }
    #btn-floorlamp {
        position: absolute;
        left: 504px;
        top: 580px;
    }
    .controlLamp {
        position: absolute;
        background-color: black;
        height: 26px;
        width: 27px;
        border-radius: 16px;
        top: 173px;
        left: 1032px;
    }
    .chandelier {
        position: absolute;
        background-color: black;
        height: 26px;
        width: 27px;
        border-radius: 16px;
        top: 450px;
        left: 865px;
    }

    .dnone {
        display: none;
    }
    .lamp1 {
        position: absolute;
        background-color: black;
        height: 30px;
        width: 30px;
        border-radius: 16px;
        top: 307px;
        left: 1036px;
    }
    .lamp2 {
        position: absolute;
        background-color: black;
        height: 29px;
        width: 29px;
        border-radius: 16px;
        top: 486px;
        left: 1036px;
    }
    .lamp3 {
        position: absolute;
        background-color: black;
        height: 30px;
        width: 30px;
        border-radius: 16px;
        top: 667px;
        left: 1036px;
    }
    .dnone2 {
        display: none;
    }
    .lamp4 {
        position: absolute;
        background-color: black;
        height: 30px;
        width: 30px;
        border-radius: 16px;
        top: 613px;
        left: 577px;
    }
    .lamp5 {
        position: absolute;
        background-color: black;
        height: 30px;
        width: 30px;
        border-radius: 16px;
        top: 426px;
        left: 480px;
    }
    .lamp6 {
        position: absolute;
        background-color: black;
        height: 30px;
        width: 30px;
        border-radius: 16px;
        top: 480px;
        left: 480px;
    }
    .dnone3 {
        display: none;
    }
    .tv {
        position: absolute;
        width: 63px;
        height: 45px;
        top: 280px;
        left: 275px;
    }
    .dnone7 {
        display: none;
    }
    .errors {
        width: 194px;
        height: 200px;
        background-color: #34b0b3;
        position: absolute;
        top: 193px;
        left: 1285px;
        padding: 8px;
    }
    .errorHeader {
        text-align: center;
        color: greenyellow;
        width: 200px;
    }
    .delete {
        width: 200px;
        height: 50px;
        background-color: #34b0b3;
        position: absolute;
        top: 127px;
        left: 1279px;
        padding: 8px;
    }
    .textCenter {
        text-align: center;
    }

    .greenYellow {
        color: greenyellow;
    }
}

