@media screen and (min-width: 500px) { /* for screens from 1000px*/
    body {
        background-color: #2ec773;
    }

    h1{
        text-align: center;
    }

    .fon {
        background-image: url("../images/bg.jpg");
        background-repeat: no-repeat;
        height: 698px;
        width: 1081px;


    }



    .joins {
        background-color: #34b0b3;
        padding: 20px;
    }
}

